<html>
{% load static %}
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>


</head>

<body>


<div>
    <h2 style="color:yellow;">{{ a_result }}</h2>
    <h2>测试页面</h2>
    <h2> {{ b_result }}</h2>
</div>


</body>

</html>